<launch>
    <!-- 1.在参数服务器中载入 urdf文件 -->
    <param name="robot_description" command="$(find xacro)/xacro $(find urdf02_gazebo)/urdf/car.urdf.xacro"/>
    
    <!-- 2.启动 gazebo(加载自定义地图) -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find urdf02_gazebo)/worlds/box_house.world" />
    </include> 
    
    <!-- 3.在 gazebo 中添加机器人模型 -->
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model my_car -param robot_description" />

</launch>