<robot name="my_car" xmlns:xacro="http://wiki.ros.org/xacro">
    
    <xacro:include filename="head.xacro" />
    <xacro:include filename="demo05_car_base.urdf.xacro" />
    <xacro:include filename="demo06_car_camera.urdf.xacro" />
    <xacro:include filename="demo07_car_laser.urdf.xacro" />
    
    <!-- moving control -->
    <xacro:include filename="gazebo/move.xacro" />
    <!-- laser -->
    <xacro:include filename="gazebo/laser.xacro" />
    <!-- camera -->
    <!-- <xacro:include filename="gazebo/camera.xacro" /> -->
    <!-- kinect -->
    <xacro:include filename="gazebo/kinect.xacro" />

</robot>